In [2]:
import pandas as pd

In [5]:
# demander à pandas de lire le fichier et garder ce tableau accessible dans une variable
dfDicoBuch = pd.read_csv("./../data/dictionary/1757_Buchanan-J.csv", delimiter=";", encoding="utf8")

In [6]:
dfDicoBuch.sample(n=5)

       nbSyll          pron origin warning remarques POS  lineId  pageId
11320       1          reed    NaN     NaN       NaN  n.     8.0     179
2484        4  cŏmmĕʹmŏrāte     L.     NaN       NaN  v.     6.0      54
12289       1          sĕct    NaN     NaN       NaN  n.    44.0     192
3932        2       dĭvīʹdĕ     L.     NaN       NaN  v.    25.0      74
4347        4   ĕmblĕmăʹtic    NaN     NaN       NaN  a.    10.0      80

In [7]:
PronChar = pd.read_csv("./../data/dictionary/Buchanan_PronChar_counts.csv", delimiter=";", encoding="utf8")

In [8]:
PronChar.sample(n=5)

   char   occ graph
50    ė    83     e
9     i  3783     i
4     c  5500     c
46    è    73     e
42    ̆   132     o

In [ ]:
#creer une autre variable(motVedette) (#colonnes pron et graph a utiliser  )

In [ ]:
# a modifier
def sampa2ipa(strSampa, dfMapping):
    ipaRes = ""
    
    listValSampa = strSampa.split(" ")
    #print(listValSampa)
    for valSampa in listValSampa:
        dfRowFinded = dfMapping[dfMapping['sampa']==valSampa]

        if len(dfRowFinded==1):
            ipaRes+=dfRowFinded.iloc[0]['motVedette']
        else:
            ipaRes+='?'
    return ipaRes

In [ ]:
#dfDicoBuch['motVedette'] = dfDicoBuch.apply(lambda x: sampa2ipa(x['graph'], PronChar),1)